{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}
	High Mountain guide
	{% endtrans %}
{% endblock %}


{% block body %}

	<div class="parallax-window" data-parallax="scroll" data-image-src="../../images/bg1.jpg">
		<div class="hero-area">
			<h1 class="main-title">{% trans %}
				Mountaineering, Ski, Rock Climbing
				{% endtrans %}
			</h1>
			<a href="{{path('home', {'_fragment':'disciplines'})}}" class="btn more-link button-link" title="Plus">
				<i class="fas fa-angle-down"></i>
			</a>
		</div>

		<div class="index-notif">
			{% for msg in app.flashes('success') %}
				<p class="alert alert-success">{{msg}}</p>
			{% endfor %}
		</div>
	</div>
	{# end hero #}

	<!-- // anchor for more link -->
	<div id="disciplines"></div>


	{# // disciplines section #}


	<main class="disciplines-list container my-5 pt-5 home-hr">
		<p class="presentation">
			{% trans %}
			Montain Guide in Briançon, I have many mountain activities to show you:
			{% endtrans %}
		</p>

		{% for disci in disciplines %}
			<a
				href="{{ path('detail', {id: disci.id, slug: disci.slug}) }}" class="discipline" title="details">
				{# <div class="text" style="background:url('/images/{{disci.slug}}.jpg') center no-repeat;background-size:cover;"> #}
				<div class="text" style="background:url('uploads/{{disci.image}}') center no-repeat;background-size:cover;">
					{% for locale in locales %}
						{% if locale == app.request.locale %}
							{% if locale =='fr' %}
								<h3>{{disci.title}}</h3>
							{% else %}
								<h3>{{disci.englishTitle}}</h3>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</a>
		{% endfor %}
	</main>

	{# </main> #}


	<div class="contact" id="contact-form">
		{% include "contact.html.twig" %}
		{% include "footer.html.twig" %}
	</div>
{% endblock %}
