{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}
	High Mountain guide
	{% endtrans %}
{% endblock %}

{% block head_extra %}
    <link rel="preload" as="image" href="/images/bg1-mobile-480.webp" media="(max-width: 480px)">
    <link rel="preload" as="image" href="/images/bg1-mobile.webp" media="(max-width: 768px)">
    <link rel="preload" as="image" href="/images/bg1-1280.webp" media="(min-width: 769px)">
{% endblock %}

{% block body_class %}base-page
{% endblock %}
{% block body %}

<div class="hero hero-area">
    <picture>
      {# Desktop #}
      <source
        type="image/webp"
        media="(min-width: 769px)"
        srcset="
          {{ asset('images/bg1-1280.webp') }} 1280w,
          {{ asset('images/bg1.webp') }} 1920w
        "
        sizes="100vw"
      >

      {# Mobile #}
      <source
        type="image/webp"
        media="(max-width: 768px)"
        srcset="
          {{ asset('images/bg1-mobile-480.webp') }} 480w,
          {{ asset('images/bg1-mobile.webp') }} 768w
        "
        sizes="100vw"
      >

      <img
        src="{{ asset('images/bg1-mobile-480.webp') }}"
        width="480"
        height="720"
        fetchpriority="high"
        decoding="async"
        alt="{% trans %}Mountain landscape in Briançon{% endtrans %}"
        class="hero-img"
      >
    </picture>


  <div class="hero-content hero-overlay">
    <h1 class="main-title">{% trans %}Mountaineering, Ski, Rock Climbing{% endtrans %}</h1>
    <a href="{{ path('home', {'_fragment':'disciplines'}) }}" class="btn more-link button-link" title="Plus">
      <i class="fas fa-angle-down"></i>
    </a>
  </div>
</div>

	{# end hero #}

	<!-- // anchor for more link -->
	<div id="disciplines"></div>

	{# // disciplines section #}

	<main class="disciplines-list container my-lg-5 pt-lg-5 home-hr">
		<p class="presentation">
			{% trans %}
			Montain Guide in Briançon, I have many mountain activities to show you:
			{% endtrans %}
		</p>

		{% for disci in disciplines %}
			<a
				href="{{ path('detail', {id: disci.id, slug: disci.slug}) }}" class="discipline" title="Détails {{disci}}">
				{# <div class="text" style="background:url('/images/{{disci.slug}}.jpg') center no-repeat;background-size:cover;"> #}
				<div class="text" style="background:url('uploads/{{disci.image}}') center no-repeat;background-size:cover;">
					{% for locale in locales %}
						{% if locale == app.request.locale %}
							{% if locale =='fr' %}
								<h3>{{disci.title}}</h3>
							{% else %}
								<h3>{{disci.englishTitle}}</h3>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</a>
		{% endfor %}
	</main>

	{# </main> #}


	<div class="contact" id="contact-form">
		{% include "contact.html.twig" %}
		{% include "footer.html.twig" %}
	</div>
{% endblock %}
