{% extends 'base.html.twig' %}

{% block title %}
	Newsletter
{% endblock %}
{% block description %}
	<meta name="description" content="newsletter">
{% endblock %}

{% block body_class %}base-page
{% endblock %}
{% block body %}

	<div class="container newsletter-container">

		<div class="subscribe-form contact-form">
			<h1 class="text-white text-center">Newsletter</h1>
			{{form_start(form)}}

			<p>
				{% trans %}
				Subscribe to our Newsletter to be aware of our latest news !
				{% endtrans %}
				<hr>
			</p>

			<div class="contact-notif">
				{% for msg in app.flashes('success') %}
					<p class="alert alert-success">{{msg}}</p>
				{% endfor %}
			</div>

			<label class="control-label" for="">{% trans %}
				Your Name
				{% endtrans %}</label>
			{{form_row(form.fullname, {'attr':{'placeholder': 'ex:Mike Horn'}})}}

			<input type="text" id="website" name="website" autocomplete="off" tabindex="-1" aria-hidden="true" style="position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;">
			<input type="hidden" name="newsletter_token" value="{{ newsletter_token }}">
			<input type="hidden" name="newsletter_time" value="{{ newsletter_time }}">

			<label class="control-label" for="">{% trans %}
				Your Email
				{% endtrans %}</label>
			{{form_row(form.email, {'attr':{'placeholder': 'mail@gmail.com'}})}}

			<label class="control-label" for="">
				{% trans %}
				I accept data collect (name and email)
				{% endtrans %}
				{{form_row(form.isRgpd)}}
			</label>

			<button type="submit" class="btn button-link">
				<i class=" far fa-paper-plane"></i>
				{% trans %}
				Subscribe
				{% endtrans %}
			</button>
			{{form_end(form)}}

		</div>

	</div>

	<div class="" id="">
		{% include "footer.html.twig" %}
	</div>
{% endblock %}
