{% extends 'base.html.twig' %}

{% block title %}
	Blog!
{% endblock %}
{% block description %}
	<meta name="description" content="Blog">
{% endblock %}

{% block body_class %}base-page
{% endblock %}
{% block body %}
	<div class="container blog-container">
		<div class="mt-5 p-5 article-wrapper">
			<h1>Blog</h1>
			<hr>
			{% for article in articles %}
				<div class="article">

					{% for locale in locales %}
						{% if locale == app.request.locale %}
							{% if locale == 'fr' %}
								<h2>{{article.title|title}}</h2>
							{% else %}
								<h2>{{article.englishTitle|title}}</h2>
							{% endif %}
							<span class="date-loc">
								<i class="fas fa-calendar-alt"></i>
								{{ article.createdAt|date("m/d/Y", "Europe/Paris")}},
								<i class="fas fa-map-marker-alt"></i>
								{{article.location}}
							</span>
							<div class="article-content">
								{% if locale == 'fr' %}
									<p>{{article.content|replace({'<h1>': '<h3>', '</h1>': "</h3>"})|raw | striptags|slice(0, 300) }}
										<span>
											<a href="{{ path('blog_detail', {id: article.id, slug: article.slug}) }}" title="details">
												[...]
												{% trans %}Read the post{% endtrans %}
											</a>
										</span>
									</p>
								{% else %}
									<p>{{article.englishContent|replace({'<h1>': '<h3>', '</h1>': "</h3>"})|raw | striptags|slice(0, 300)}}
										<a href="{{ path('blog_detail', {id: article.id, slug: article.slug}) }}" title="details">
											[...]
											{% trans %}Read the post{% endtrans %}
										</a>
									</p>
								{% endif %}
							{% endif %}

						{% endfor %}
						{% if article.image %}
							<img src="{{asset('uploads/' ~ article.image)}}" class="d-block img-fluid" width="140" height="140">
						{% endif %}
					</div>


					{# <div class="read-more">
																																									<a href="{{ path('blog_detail', {id: article.id, slug: article.slug}) }}" title="details">
																																										{% trans %}Read the post{% endtrans %}
																																									</a>
																																								</div> #}

				</div>

				<hr class="bg-dark">


			{% endfor %}

			<div class="navigation shadow">
				{{ knp_pagination_render(articles) }}
			</div>
		</div>


	</div>

	<div class="" id="">
		{% include "footer.html.twig" %}
	</div>
{% endblock %}
