{{ form_start(form) }}
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            {{ form_row(form.title)}}
        </div>
        <div class="col-lg-6 col-sm-12">
        {{ form_row(form.englishTitle) }}
        </div>
        <div class="col-lg-6 col-sm-12">
            {{ form_row(form.date)}}
        </div>
        <div class="col-lg-6 col-sm-12">
        {{ form_row(form.location) }}
        </div>
        <div class="col-lg-6 col-sm-12">
            {{ form_row(form.content)}}
        </div>
        <div class="col-lg-6 col-sm-12">
        {{ form_row(form.englishContent) }}
        </div>
        {{form_widget(form)}}
    </div>
    
    {# check if route is "_edit" -> display images #}

    {% if app.request.attributes.get('_route') == 'album_edit' %}
        <h2>Images</h2>
        <div class="row">
            {% for img in album.images %}
            <div class="m-4 border p-2">
                <img src="{{asset('uploads/' ~ img.name)}}" alt="album picture" class="" width="180">
                <a href="{{path('delete_img', {'id': img.id})}}" 
                   data-delete data-token="{{csrf_token('delete' ~ img.id)}}">
                   &times; Supprimer 
                </a>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {# <div class="save-or-del-btn"> #}
        <button class="btn btn-success mt-3">{{ button_label|default('Enregistrer') }}</button>
        {# {% if album.id %}
            {{ include('album/_delete_form.html.twig') }}
        {% endif %} #}
    {# </div> #}
{{ form_end(form) }}
