{% extends 'base.html.twig' %}

{% block title %}Edit Album{% endblock %}

{% block body %}
<div class="container mt-5 p-5 shadow">
    
    <h1>Modifier l' Album: "{{album.title}}"</h1>
    <hr>

    <a href="{{ path('album_index') }}" class="btn btn-info my-3">
        <i class="fas fa-arrow-circle-left mr-2"></i>Retour à la liste</a>

  
    {{ include('album/_form.html.twig',  {'button_label': 'Sauver les changements'})}}
    {{ include('album/_delete_form.html.twig')}}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/images.js')}}"></script>
{% endblock %}