<div class="contact-form">
	<h2 class="my-4 contact-title text-center">Contact</h2>

	<div class="contact-infos">
		<p>
			{% trans %}
			Whatever you fancy doing on the mountains, I will quickly reply to your request. So feel free to contact me and get ready for new adventures together !
			{% endtrans %}
			<br>
			{% trans %}
			See you real soon !
			{% endtrans %}
		</p>
		<img src="{{asset('images/profile.webp')}}" alt="profile image" width="216" height="216">
	</div>


	<div class="contact-notif">
		{% for msg in app.flashes('success') %}
			<p class="alert alert-success">{{msg}}</p>
		{% endfor %}
	</div>

	{{form_start(form)}}
	<label class="control-label" for="">{% trans %}
		Your Name
		{% endtrans %}</label>
	{{form_row(form.name, {'attr':{'placeholder': 'ex:Mike Horn'}})}}

	<input type="text" id="website" name="website" autocomplete="off" tabindex="-1" aria-hidden="true" style="position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;">
	<input type="hidden" name="contact_token" value="{{ contact_token }}">
	<input type="hidden" name="contact_time" value="{{ contact_time }}">

	<label class="control-label" for="">{% trans %}
		Your Email
		{% endtrans %}</label>
	{{form_row(form.email, {'attr':{'placeholder': 'mail@gmail.com'}})}}
	<label class="control-label" for="">{% trans %}
		Your Message
		{% endtrans %}</label>
	{{form_row(form.message)}}
	<input type="submit" value="{% trans %} Send {% endtrans %}" class="btn button-link">
	{{form_end(form)}}

</div>
